{% extends "layout.html" %} {% block content %}

<div class="jumbotron">
  

    <h1 class="display-4">Productos:</h1>
    <br>
    <!-- Search form -->
    <div class="md-form mt-0">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
    </div>
    <br>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="/">Todos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/pianos">Pianos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/guitarras">Guitarras</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/baterias">Baterias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/flautas">Flautas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/violines">Violines</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/mas_vistos">Mas Visitados</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/mas_vendidos">Mas Vendidos</a>
        </li>
        <li>
            <a class="btn btn-warning" href="/vaciarCarrito">VaciarCarrito</a> 
        </li>
    </ul>
    <br>
    <div class="card-columns">
        {% for product in products %}
        <div class="card text-center border-info" style="height:580px;">
            <img class="card-img-top" src="{{product['imageurl1']}}" alt="Card image cap" style="width:300px;height:300px;">
            <div class="card-body">
                <h5 class="card-title">{{product['nombre']}}</h5>
                <p class="card-text">{{product['descripcion']}}</p>
                <p class="card-text">unidades:{{product['cantidad']}} </p>
                <form action="/AddCarrito" method="POST">
                    <input type="text" name="nombre" value="{{ product['nombre'] }}" hidden>
                    <button class="btn btn-primary" type="submit">Agregar al Carrito</button>
                </form>
                       
              
               
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}